/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');


/* General styling */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', monospace;
  background-color: #000000;
}

main {
  min-height: 100vh; /* read about viewport units here: https://css-tricks.com/fun-viewport-units/ */
}

h1, h2, h3, h4, p, a {
  font-family: 'Press Start 2P', monospace;
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #e5e5e5;
}

a > h2:hover {
  color: #e5e5e5;
}

.button:hover::before { /* Read about ::before and ::after here: https://css-tricks.com/almanac/selectors/a/after-and-before/ */
  content: '> ';
}

.button:hover::after {
  content: ' <';
}


/* Index */
h1, p, input {
  text-align: center;
}

h1 {
  margin: 100px 0 30px 0;
}

.input {
  display: block;
  margin: 0 auto;
}

.container1 {
  vertical-align: middle;
  line-height: 4rem;
}


/* Nav */
nav {
  padding: 20px 20px;
  background-color: #202020;
}

.title {
  display: inline-block;
  margin-right: 50px;
}

.score-content {
  display: inline-block;
  float: right;
}

.button {
  display: block;
  text-align: center;
}


/* Game area */
.game-screen {
  background-color: #191919;
  height: 85vh;
  width: 100%;
  margin: 0 auto;
}

.start-end-zone {
  display: block;
  height: 5rem;
  width: 6rem;
  background-color: #4c4c4c;
  text-align: center;
  vertical-align: middle;
  line-height: 5rem;
  cursor: pointer;
}

#start-zone {
  background-color: #1B930D;
  position: absolute;
  top: 550px;
  left: 100px;
}

#start-zone:hover {
  background-color: #18840b;
}

#end-zone {
  background-color: #0061C9;
  position: absolute;
  top: 150px;
  right: 100px;
}

#end-zone:hover {
  background-color: #0057b4;
}


/* Donuts */
.donut {
  width: 60px;
  position: absolute;
  top: 135px;
  left: 415px;
}

.donut:nth-of-type(2) {
  top: 600px;
  left: 815px;
}


/* Obstacles */
.obstacle {
  display: block;
  background-color: #F8F8F8;
  position: absolute;
  height: 22rem;
  width: 4rem;
  top: 104px;
  left: 110px;
}

.obstacle:nth-of-type(2) { /* read about nth-og-type selector here: https://medium.com/@MateMarschalko/css-select-nth-element-with-class-a313d080e2bf */
  height: 30rem;
  width: 4rem;
  top: 203px;
  left: 310px;
}

.obstacle:nth-of-type(3) {
  height: 30rem;
  width: 4rem;
  top: 104px;;
  left: 510px;
}

.obstacle:nth-of-type(4) {
  height: 30rem;
  width: 4rem;
  top: 203px;;
  left: 710px;
}

.obstacle:nth-of-type(5) {
  height: 30rem;
  width: 4rem;
  top: 104px;;
  left: 910px;
}

.obstacle:nth-of-type(6) {
  height: 22rem;
  width: 4rem;
  top: 331px;
  left: 1110px;
}


/* Pop-ups */
.pop-up {
  background-color: #7f7f7f;
  margin: 0 auto;
  width: 500px;
  padding: 25px 0px 40px 0px;
  position: relative;
  top: -400px;
  border: 5px solid #ffffff;
}

.pop-up > h2 {
  text-align: center;
}

.pop-up > .button {
  margin: 10px;
}
